*.iml
.gradle
/local.properties
/lr1_428_09/.idea/caches
/lr1_428_09/.idea/libraries
/lr1_428_09/.idea/modules.xml
/lr1_428_09/.idea/workspace.xml
/lr1_428_09/.idea/navEditor.xml
/lr1_428_09/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
